---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

/* ==========================================================================
   Content width & media query variables
   ========================================================================== */

$content-regular-padding: 15px;
$content-regular-width: 650px;
$content-regular-viewport: $content-regular-width + ($content-regular-padding * 2); /* + body padding */

$content-small-width: 300px;
$content-small-padding: 10px;
$content-small-viewport: $content-small-width + ($content-small-padding * 2);
$content-small-viewport-max: $content-regular-viewport - 1; 

/* ==========================================================================
   Colors
   ========================================================================== */

$blue_main: #0071c5;
$blue_lighter: #d9eaf6;
$blue_bonus: #f2f8fc;
$blue_hover: #00aeef;

$green_main: #53a653;
$green_lighter: #e5f2e5;
$green_hover: #6fdd6f;

$orange_main: #b75f00;
$orange_lighter: #fff3a0;
$orange_bonus: #ff8c00;

$red_main: #e21f20;
$red_lighter: #f2dede;

$black: #000000;
$grey: #f3f3f3;


@import
        "normalize",
        "main",
        "docs",
        "callouts"
;
