/* ==========================================================================
   TLDR boxes (with inner road sign icon)
   ========================================================================== */

.tldr {
  // background-color: #d9eaf6;
  color: #0071c5;
  font-size: 0.9em;
  background-image: url(../img/icon/roadsign_icon_23x25.png);
  background-repeat: no-repeat;
  background-position: 10px 18px;
  padding: 10px 10px 0 10px;
  padding-left: 45px;
}

.tldr a {
  font-weight: bold;
}

.tldr p {
  margin: 5px 0;
}

/* ==========================================================================
   Blue solid boxes (no icons)
   ========================================================================== */

.note {
  padding: 1em;
  background-color: #d9eaf6;
  color: #0071c5;
}

.note > *:first-child {
  margin-top: 0;
}

.note > *:last-child {
  margin-bottom: 0;
}

.note p {
  font-size: 0.9em;
}

.note a {
  font-weight: bold;
}

#next-steps.note {
  margin: 2.5em 0;
}


/* ==========================================================================
   Callout boxes (with outer icon)
   ========================================================================== */

.callout {
  border: 2px solid #fff;
  padding: 1em;
  margin-bottom: 1em;
  padding-top: 0em; /* to align the icon in ::before */
  font-size: 0.9em;
  color: #0071c5;
  margin-left: 50px
}

// TODO: Need to make icon callout responsive

// @media (max-width: $content-small-viewport-max) {
//   .callout {
//     padding-left: 50px;
//     padding-right: 30px;
//   }
//   .callout::before {
//     left: 18px;
//     margin-top: 7px;
//   }
// }
//
// @media (min-width: $content-regular-viewport) {
//   .callout {
//     margin-left: calc(1em + 40px); /* icon width + left box margin */
//   }
// }

.callout > *:first-child {
  display: block;
  // padding-top: 1em; /* to align the icon in ::before */
}

.callout > ol:first-child {
  margin-top: 1em;
  padding-left: 1.5em;
}

.callout > *:last-child {
  margin-bottom: 0;
}

.callout::before {
  content: '';
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 1.2em; /* a little bit more than body padding */
}

li .callout::before {
  left: 2.4em; /* a little bit more than body padding */
}

.callout a {
  font-weight: bold;
}

.video.callout {
  border: 2px solid #d9eaf6;
  padding-top: 1em; /* to align the icon in ::before */
}

.video.callout::before {
  background-image: url(../img/icon/callout_icon_video_lightblue.png);
}

// dark blue callouts:

.goto.callout {
  background-color: #d9eaf6;
}

.goto.callout::before {
  background-image: url(../img/icon/callout_icon_arrow_blue.png);
}

// light blue callouts:

.info.callout,
.troubleshooting.callout {
  background-color: #f2f8fc;
}

.info.callout hr,
.troubleshooting.callout hr {
  border: 0;
  border-bottom: 1px dashed #0071c5;
}

.info.callout::before {
  background-image: url(../img/icon/callout_icon_pencil_lightblue.png);
}

.troubleshooting.callout::before {
  background-image: url(../img/icon/callout_icon_question_lightblue.png);
}


// green callouts:

.done.callout {
  background-color: #e5f2e5;
  color: #53a653;
}

.done.callout hr {
  border: 0;
  border-bottom: 1px dashed #53a653;
}

.done.callout::before {
  background-image: url(../img/icon/callout_icon_check_green.png);
}

.done.callout a {
  color: #53a653;
}

// orange callouts:

.warning.callout {
  border: 2px solid #b75f00;
  background-color: #fff3a0;
  color: #b75f00;
}

.warning.callout hr {
  border: 0;
  border-bottom: 1px dashed #b75f00;
}

.warning.callout::before {
  background-image: url(../img/icon/callout_icon_caution_yellow.png);
}

.warning.callout a {
  color: #b75f00;
}


// red callouts:

.danger.callout {
  border: 2px solid #e21f20;
  background-color: #f2dede;
  color: #e21f20;
}

.danger.callout hr {
  border: 0;
  border-bottom: 1px dashed #e21f20;
}

.danger.callout::before {
  background-image: url(../img/icon/callout_icon_bomb_red.png);
}

.danger.callout a {
  color: #e21f20;
}