/* ==========================================================================
   Spans with icons
   ========================================================================== */

.icon {
  font-weight: bold;
}

.icon::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 2px;
  background-repeat: no-repeat;
}

.folder.icon::before {
  background-image: url(../img/icon/folder_icon_black.png);
}

.file.icon::before {
  background-image: url(../img/icon/file_icon_black.png);
}

.bookmark.icon::before {
  background-image: url(../img/icon/bookmark_icon_black.png);
}

.windows.icon::before {
  background-image: url(../img/icon/os_icon_windows-black.png);
}

.mac.icon::before {
  background-image: url(../img/icon/os_icon_mac-black.png);
}

.linux.icon::before {
  background-image: url(../img/icon/os_icon_linux-black.png);
}
/* ==========================================================================
   TLDR boxes (with inner road sign icon)
   ========================================================================== */

.tldr {
  color: #0071c5;
  font-size: 0.9em;
  background-image: url(../img/icon/roadsign_icon_23x25.png);
  background-repeat: no-repeat;
  background-position: 10px 63%; /*63% is magic number where it looks centered for 1, 3, or 3 lines*/
  padding: 10px 10px 0 10px;
  padding-left: 45px;
  min-height: 33px;
}

.tldr a {
  font-weight: bold;
}

.tldr p {
  margin: 5px 0;
}

.tldr .icon {
  font-weight: normal;
}

.tldr .folder.icon::before {
  background-image: url(../img/icon/folder_icon_blue.png);
}

.tldr .file.icon::before {
  background-image: url(../img/icon/file_icon_blue.png);
}

.tldr .bookmark.icon::before {
  background-image: url(../img/icon/bookmark_icon_blue.png);
}

.tldr .windows.icon::before {
  background-image: url(../img/icon/os_icon_windows-blue.png); 
}

.tldr .mac.icon::before {
  background-image: url(../img/icon/os_icon_mac-blue.png); 
}

.tldr .linux.icon::before {
  background-image: url(../img/icon/os_icon_linux-blue.png); 
}

/* ==========================================================================
   Blue solid boxes (no icons)
   ========================================================================== */

.note {
  padding: 1em;
  background-color: $blue_lighter;
  color: $blue_main;
}

.note > *:first-child {
  margin-top: 0;
}

.note > *:last-child {
  margin-bottom: 0;
}

.note p {
  font-size: 0.9em;
}

/* ==========================================================================
   Next step
   ========================================================================== */

#next-steps a.link-button.centered {
  margin-bottom: 0em;
}

/* ==========================================================================
   Callout boxes (with outer icon)
   ========================================================================== */

.callout {
  border: 2px solid #fff;
  padding: 1em;
  margin-bottom: 1em;
  padding-top: 0em; /* to align the icon in ::before */
  font-size: 0.9em;
  color: $blue_main;
  margin-left: 50px
}

// TODO: Need to make icon callout responsive

// @media (max-width: $content-small-viewport-max) {
//   .callout {
//     padding-left: 50px;
//     padding-right: 30px;
//   }
//   .callout::before {
//     left: 18px;
//     margin-top: 7px;
//   }
// }
//
// @media (min-width: $content-regular-viewport) {
//   .callout {
//     margin-left: calc(1em + 40px); /* icon width + left box margin */
//   }
// }

.callout > *:first-child {
  display: block;
}

.callout > ol:first-child {
  margin-top: 1em;
  padding-left: 1.5em;
}

.callout > *:last-child {
  margin-bottom: 0;
}

.callout::before {
  content: '';
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 1.2em; /* a little bit more than body padding */
}

li .callout::before {
  left: 2.4em; /* a little bit more than body padding */
}

// .callout a {
//   font-weight: bold;
// }

.callout .folder.icon::before {
  background-image: url(../img/icon/folder_icon_blue.png);
}

.callout .file.icon::before {
  background-image: url(../img/icon/file_icon_blue.png);
}

.callout .bookmark.icon::before {
  background-image: url(../img/icon/bookmark_icon_blue.png);
}

.callout .windows.icon::before {
  background-image: url(../img/icon/os_icon_windows-blue.png); 
}

.callout .mac.icon::before {
  background-image: url(../img/icon/os_icon_mac-blue.png); 
}

.callout .linux.icon::before {
  background-image: url(../img/icon/os_icon_linux-blue.png); 
}

// other blue callouts

.video.callout {
  border: 2px solid #d9eaf6;
  padding-top: 1em; /* to align the icon in ::before */
}

.video.callout::before {
  background-image: url(../img/icon/callout_icon_video_lightblue.png);
}

// dark blue callouts:

.goto.callout {
  background-color: #d9eaf6;
}

.goto.callout::before {
  background-image: url(../img/icon/callout_icon_arrow_blue.png);
}

// light blue callouts:

.info.callout,
.troubleshooting.callout {
  background-color: #f2f8fc;
}

.info.callout hr,
.troubleshooting.callout hr {
  border: 0;
  border-bottom: 1px dashed #0071c5;
}

.info.callout::before {
  background-image: url(../img/icon/callout_icon_pencil_lightblue.png);
}

.troubleshooting.callout::before {
  background-image: url(../img/icon/callout_icon_question_lightblue.png);
}


// green callouts:

.done.callout {
  background-color: #e5f2e5;
  color: #53a653;
}

.done.callout hr {
  border: 0;
  border-bottom: 1px dashed #53a653;
}

.done.callout::before {
  background-image: url(../img/icon/callout_icon_check_green.png);
}

.done.callout a {
  color: #53a653;
}

.done.callout .folder.icon::before {
  background-image: url(../img/icon/folder_icon_green.png);
}

.done.callout .file.icon::before {
  background-image: url(../img/icon/file_icon_green.png);
}

.done.callout .bookmark.icon::before {
  background-image: url(../img/icon/bookmark_icon_green.png);
}

.done.callout .windows.icon::before {
  background-image: url(../img/icon/os_icon_windows-green.png); 
}

.done.callout .mac.icon::before {
  background-image: url(../img/icon/os_icon_mac-green.png); 
}

.done.callout .linux.icon::before {
  background-image: url(../img/icon/os_icon_linux-green.png); 
}

.done.callout a.link-button {
  background-color: $green_main;
  color: white;
}

.done.callout a.link-button:hover {
  background-color: $green_hover;
}

// orange callouts:

.warning.callout {
  border: 2px solid #b75f00;
  background-color: #fff3a0;
  color: #b75f00;
}

.warning.callout hr {
  border: 0;
  border-bottom: 1px dashed #b75f00;
}

.warning.callout::before {
  background-image: url(../img/icon/callout_icon_caution_yellow.png);
}

.warning.callout a {
  color: #b75f00;
}

.warning.callout .folder.icon::before {
  background-image: url(../img/icon/folder_icon_orange.png);
}

.warning.callout .file.icon::before {
  background-image: url(../img/icon/file_icon_orange.png);
}

.warning.callout .bookmark.icon::before {
  background-image: url(../img/icon/bookmark_icon_orange.png);
}

.warning.callout .windows.icon::before {
  background-image: url(../img/icon/os_icon_windows-orange.png); 
}

.warning.callout .mac.icon::before {
  background-image: url(../img/icon/os_icon_mac-orange.png); 
}

.warning.callout .linux.icon::before {
  background-image: url(../img/icon/os_icon_linux-orange.png); 
}

// red callouts:

.danger.callout {
  border: 2px solid #e21f20;
  background-color: #f2dede;
  color: #e21f20;
}

.danger.callout hr {
  border: 0;
  border-bottom: 1px dashed #e21f20;
}

.danger.callout::before {
  background-image: url(../img/icon/callout_icon_bomb_red.png);
}

.danger.callout a {
  color: #e21f20;
}

.danger.callout .folder.icon::before {
  background-image: url(../img/icon/folder_icon_red.png);
}

.danger.callout .file.icon::before {
  background-image: url(../img/icon/file_icon_red.png);
}

.danger.callout .bookmark.icon::before {
  background-image: url(../img/icon/bookmark_icon_red.png);
}

.danger.callout .windows.icon::before {
  background-image: url(../img/icon/os_icon_windows-red.png); 
}

.danger.callout .mac.icon::before {
  background-image: url(../img/icon/os_icon_mac-red.png); 
}

.danger.callout .linux.icon::before {
  background-image: url(../img/icon/os_icon_linux-red.png); 
}

