body {
  padding: 1em;
}

/* ==========================================================================
   Content
   ========================================================================== */

.content {
  width: 650px;
}

a {
  color: #0071c5;
}

a:hover {
  color: #00aeef;
}

img {
  max-width: 100%;
}

.footnote {
  font-size: 0.8em;
  margin-top: 1em;
}

.content > hr {
  margin: 3em 0 1em 0;
}

/* ==========================================================================
   Code and command line blocks
   ========================================================================== */

code,
pre { 
  font-family: Consolas, Courier, monospace;
}

code {
  padding: 2px;
  font-size: 85%;
}

pre {
  padding: 6px 8px;
  overflow: auto;
  background-color: #f7f7f7;
}

/* ==========================================================================
   List items
   ========================================================================== */
// li img {
  // margin-top: 1em;
  // margin-bottom: 1em;
// }

ol li {
  margin-bottom: 1.5em;
}

ul li {
  margin-bottom: 0.5em;
}

ol li ul,
ul li ul {
   margin-bottom: 1em;
}

ol li li,
ul li li {
   margin-bottom: 0em;
}

ol li ul li ol li {
   margin-bottom: 0em;
}

/* ==========================================================================
   Headings
   ========================================================================== */

.subtitle, h1, h2, h3, h4 {
  color: #0071c5;
  font-family: "Intel Clear";
  font-weight: bold;
}

.subtitle {
  font-style: italic;
  font-size: 12pt;
  padding: 12pt 0;
}

h1 {
  font-size: 20pt;
}

h2 {
  font-size: 17pt;
  margin-top: 28pt;
  padding-bottom: 2pt;
  border-bottom: 1px solid #0071c5;
  margin-bottom: 0;
}

h3 {
  font-size: 15pt;
  margin-top: 16pt;
  padding-bottom: 6pt;
  border-bottom: 1px dotted #0071c5;
  margin-bottom: 0px;
}

h4 {
  font-size: 11pt;
  padding-bottom: 0pt;
  font-style: italic;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: 0.5em;
}

/* ==========================================================================
   Callout boxes (with outer icon)
   ========================================================================== */

.callout {
  border: 2px solid #fff;
  padding: 1em;
  margin-bottom: 1em;
  padding-top: 0em; /* to align the icon in ::before */
  font-size: 0.9em;
  color: #0071c5;
  margin-left: calc(1em + 40px); /* icon width + left box margin */
}

.callout > *:first-child {
  display: block;
  // padding-top: 1em; /* to align the icon in ::before */
}

.callout > *:last-child {
  margin-bottom: 0;
}

.callout::before {
  content: '';
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 1.2em; /* a little bit more than body padding */
}

li .callout::before {
  left: 3.9em; /* a little bit more than body padding */
}

.callout a {
  font-weight: bold;
}

.video.callout {
  border: 2px solid #d9eaf6;
  padding-top: 1em; /* to align the icon in ::before */
}

.video.callout::before {
  background-image: url(/img/icons/callout_icon_video_lightblue.png);
}

// dark blue callouts:

.goto.callout {
  background-color: #d9eaf6;
}

.goto.callout::before {
  background-image: url(/img/icons/callout_icon_arrow_blue.png);
}

// light blue callouts:

.info.callout,
.troubleshooting.callout {
  background-color: #f2f8fc;
}

.info.callout hr,
.troubleshooting.callout hr {
  border: 0;
  border-bottom: 1px dashed #0071c5;
}

.info.callout::before {
  background-image: url(/img/icons/callout_icon_pencil_lightblue.png);
}

.troubleshooting.callout::before {
  background-image: url(/img/icons/callout_icon_question_lightblue.png);
}


// green callouts:

.done.callout {
  background-color: #e5f2e5;
  color: #53a653;
}

.done.callout hr {
  border: 0;
  border-bottom: 1px dashed #53a653;
}

.done.callout::before {
  background-image: url(/img/icons/callout_icon_check_green.png);
}

.done.callout a {
  color: #53a653;
}

// orange callouts:

.warning.callout {
  border: 2px solid #b75f00;
  background-color: #fff3a0;
  color: #b75f00;
}

.warning.callout hr {
  border: 0;
  border-bottom: 1px dashed #b75f00;
}

.warning.callout::before {
  background-image: url(/img/icons/callout_icon_caution_yellow.png);
}

.warning.callout a {
  color: #b75f00;
}


// red callouts:

.danger.callout {
  border: 2px solid #e21f20;
  background-color: #f2dede;
  color: #e21f20;
}

.danger.callout hr {
  border: 0;
  border-bottom: 1px dashed #e21f20;
}

.danger.callout::before {
  background-image: url(/img/icons/callout_icon_bomb_red.png);
}

.danger.callout a {
  color: #e21f20;
}

/* ==========================================================================
   Grey outline boxes (no icons)
   ========================================================================== */

.box {
  padding: 1em;
  border: 2px solid #eee;
  margin-bottom: 1em;
}

.box > *:first-child {
  margin-top: 0;
}

.box > *:last-child {
  margin-bottom: 0;
}

/* ==========================================================================
   Table of contents (which is a .box)
   ========================================================================== */


#toc {
  position: absolute;
  top: 5.4em;
  left: 690px;
  display: block;
  min-width: 300px;
}

#toc > ul {
  padding-left: 0;
}

#toc > ul > li {
  list-style: none;
}

#toc > ul > li > ul {
  padding-left: 2em;
}

/* ==========================================================================
   TLDR boxes (with inner road sign icon)
   ========================================================================== */

.tldr {
  background-color: #d9eaf6;
  color: #0071c5;
  font-size: 0.9em;
  background-image: url(/img/icons/roadsign_icon_23x25.png);
  background-repeat: no-repeat;
  background-position: 12px 18px;
  padding: 10px;
  padding-left: 45px;
}

.tldr a {
  font-weight: bold;
}

.tldr p {
  margin: 5px 0;
}

/* ==========================================================================
   Blue solid boxes (no icons)
   ========================================================================== */

.note {
  padding: 1em;
  background-color: #d9eaf6;
  color: #0071c5;
}

.note > *:first-child {
  margin-top: 0;
}

.note > *:last-child {
  margin-bottom: 0;
}

.note p {
  font-size: 0.9em;
}

.note a {
  font-weight: bold;
}

#next-steps.note {
  margin: 2.5em 0;
}