{% include base.html %}
<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}{% if page.parentUrl %} | {{ page.parentTitle }}{% endif %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ base }}css/main.css">
  </head>
  <body>

    <header>
      <img src="{{ base }}img/intel_logo.png" alt="Intel logo" width="52" height="35">
    </header>

    <div class="breadcrumb">
      <a href="{{ base }}docs/">START HERE</a>
      {% if page.parentParentUrl %}
        &raquo; <a href="{{ page.parentParentUrl }}">{{ page.parentParentTitle }}</a>
      {% endif %}
      {% if page.parentUrl %}
        &raquo; <a href="{{ page.parentUrl }}">{{ page.parentTitle }}</a>
      {% endif %}
      &raquo; {{ page.title }}
    </div>

    <div class="content">
    
      {{ content }}
        
    </div>

    <div class="go-back-link">
      {% if page.parentUrl %}
      &laquo; Return to <a href="{{ page.parentUrl }}">{{ page.parentTitle }}</a>
      {% endif %}
    </div>

  {% include scripts.html %}
  </body>
</html>
