{% include base.html %}
<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ base }}css/main.css">
  </head>
  <body>
    
    <header>
      <img src="{{ base }}img/intel_logo.png" alt="Intel logo" width="52" height="35">
      IoT Roadshow START HERE Guide
    </header>

    <div class="content">
    
        {{ content }}
    
    </div>

  {% include scripts.html %}
  </body>
</html>
